body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: darkgreen;
}

canvas {
    border: 1px solid black;
    background-image: url(./assets/img/fp.png);
}